@tailwind utilities;

:root {
    --brand: #f7d96f;
    --cream: #fffceb;
    --accent: #fff7d1;
    --accent-border: #f0e4b2;
}

/* Font */
body {
    font-family: 'Poppins', sans-serif;
}

/* Input focus effect */
input:focus {
    outline: none;
    border-color: var(--brand);
}